.modal {
  width: 560px;
  z-index: 1002;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  padding: 50px;
  background-color: #fff;
  border-radius: 6px;
}
.overlay_modal {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, .4);
  z-index: 900;
}

.img-container {
  width: 60%;
  height: 140px;
  background-color: #D9D9D9;
  right: 50%;
  margin: 0 auto;
}

.modal-content__title {
  font-size: 28px;
  margin: 0;
}
.modal-content__text {
  font-weight: normal;
  font-size: 17px;
  color: #7F7F7F;
}

.modal_close {
  font-size: 22px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 8px 11px;
  padding: 0;
  border: none;
  background: none;
}
.button-list {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.btn {
  backface-visibility: hidden;
  color: #fff;
  cursor: pointer;
  width: 40%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  margin: 0 auto;
  border-radius: 6px;
  border-width: 0;
}

.btn-no {
  background-color: #8A33FD;
  color: #ffffff;
}

.btn-yes {
  border: 2px solid #3C4242;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #8A33FD;
}
