._second, ._first {
    backface-visibility: hidden;
    color: black;
    cursor: pointer;
    width: 40%;
    height: 20%;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    padding: 12px 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    margin: 0 auto;
    border-radius: 6px;
    border-width: 0;
}